@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');



header {
  width: 100%;
  height: 70px;
  /* background-color:#fff; */
}
header button {
  width: 140px;
  padding: 10px;
  margin-top: 25px;
  background: none;
  border: none;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}
.buttons {
  border-radius: 5px;
  border-color: #dfd5d5;
  border-width: 2px;
  background-color: #f3f3f3;
}
.btn:hover {
color: #dfd5d5; 

}
.buttons:hover {
  background-color: #a40c0c;
  color: #dfd5d5;
}

*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body{
background-color: white;
}
.heading{
text-align: center;
margin-top: 25px;
}

.heading h1{
font-size: 75px;
color:#36455c;
margin-bottom: 10px;
}
.heading p{
font-size: 30px;
color: #666;
margin-bottom: 50px;
}

.about-us{
  display: flex;
  align-items: center;
  width:85%;
  margin: auto;
}

.about-us img{
  flex: 0 50%;
  max-width: 50%;
  height: auto;
}

.content{
  padding: 35px;
}

.content h2{
  font-size: 30px;
  color: #666;
  line-height: 1.5;
  margin: 15px 0px;
}

.read-more-btn{
  display: inline-block;
  padding: 10px 25px;
  background-color: #DFDFDF;
  color: black;
  border-radius: 10px;
  border-color: #666;
  text-decoration: none;
  margin-top: 20px;
  transition: 1s;
}

.read-more-btn:hover{
  background-color: #53D4FD;
  color: white;
}

p{
  font-weight: 500;
  font-size: 20px;
  color: #666;
  line-height: 1.5;
  margin: 15px 0px;
}



header img {
  width: 100px;
  float: left;
  margin-top: 4px;
  margin-left: 8px;
}

@media(max-width: 600px){
  .about-us{
    flex-direction: column;
  }
  .about-us img{
    max-width: 100%;
  }
  .content{
    padding: 20px;
  }
}

h1{
  position: relative;
  right: 3.5%;

}
footer{
  width : 100% ;
  height: 210px;
  background-color:#F3F3F3;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  margin-bottom: 100px;
  margin-top: 30px;
  font-weight: bold;

}

footer button {
  width: 130px;
  padding: 3px;
  margin-bottom: 30px;
  margin-top: 30px;

  outline: none;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  border-radius: 20px;
  border-color: #DFD5D5;
  border-width: 2px;
  background-color: #53D4FD;
}
